

<nav class="navbar navbar-inverse navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Networking</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="home.html.erb">Home</a></li> -->
       <li > <%= link_to "Home", root_path%></li>
        <li > <%= link_to "Software",pages_software_path%></li>
         <li> <%= link_to "Hardware",pages_hardware_path%></li>
          <li class="active"> <%= link_to "Networking",pages_networking_path%></li>
      </ul>
      <ul class = "nav navbar-nav navbar-right">
         <!-- <li class= "pull-right"><a href="admin.html.erb">Admin</a></li> -->
         <li> <%= link_to "Admin",rails_admin_path%></li>

      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<h1>At Our Company</h1>
<div class= "row">
     <div class="col-sm-2"></div>
     <div class="col-sm-8">
     <table  class="table table-hover table-bordered ">  
      <caption text-alignce>Our Resources</caption>  
        <thead>    
           <tr class="success"> 
              <th>Name</th>  
              <th>Title</th>  
                <th>Category</th> 
                  <th>Description</th> 
                    <th>Last Created</th> 
              
                  
            </tr>  
        </thead>  
        <tbody>
                       <% @networking.each do |f|%>
                        <tr class="warning">'
               <td> <%= f.name %></td>
                 <td> <%= f.tile%></td>
                    <td> <%= f.category%></td>
                  <td> <%= f.description%></td>
                  <td> <%= time_ago_in_words(f.created_at, include_seconds:true )%> ago<br>
                    <br>
                    <% end %>
                  

      </tr>   
    </tbody>
   </table>  
    </div>
</div>
