<nav class="navbar navbar-inverse navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TopBrainz</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="home.html.erb">Home</a></li> -->
       <li class="active"> <%= link_to "Home", root_path%></li>
        <li> <%= link_to "Software",pages_software_path%></li>
          <li> <%= link_to "Hardware",pages_hardware_path%></li>
          <li> <%= link_to "Networking",pages_networking_path%></li>
      </ul>
      <ul class = "nav navbar-nav navbar-right">
         <!-- <li class= "pull-right"><a href="admin.html.erb">Admin</a></li> -->
         <li> <%= link_to "Admin",rails_admin_path%></li>

      </ul>
    </div>
  </div>
</nav>